.container-about-us{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  .container-about-us{
    width: 30%;
    img{
      width: 30%;
    }
  }
  
}
