$principalcolor: #443730;
$bodycolor: white;
$footercolor: #615142;
$navfont: 'Bebas Neue', sans-serif;
$titlefont: 'Belanosima', sans-serif;
$bodyfont: 'PT Sans', sans-serif;
$mobile: 576px;
$tablet: 768px;